.button {
  color: #1976D2;
  border: 5px solid #1976D2;
  font-weight: 500;
  border-radius: 50%;
}

.text_button {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
}

.icon_right {
  padding: 0;
  margin: 0 0 0 9px;
}

.icon_no_margin {
  padding: 0;
  margin: 0;
}

.icon_left {
  padding: 0;
  margin: 0 12px 0 0;
}

.icon_red {
  color: #D32F2F;
}

.icon_blue {
  color: #1976D2;
}

.icon_disabled {
  color: rgba(0, 0, 0, 0.26);
}

.clicle {
  padding: 0;
  margin: 0;
}