.section {
  position: relative;
  width: 248px;
  height: 100vh;
  background-color: #003200;
}

.img {
  display: block;
  margin: 64px auto 0;
}

@media (max-width: 900px) {
  .section {
    width: 150px;
  }

  .img {
    margin-top: 32px;
  }
}
