.imgWrapper {
  background: rgba(25, 118, 210, 0.12);
  border-radius: 64px;
}

.link {
  color: #1976d2;
  border-bottom: 1px solid rgba(25, 118, 210, 0.6);
  cursor: pointer;
}

.additionalText {
  color: rgba(0, 0, 0, 0.87);
}

.format {
  color: rgba(0, 0, 0, 0.54);
}

@media (max-width: 480px) {
  .additionalText {
    display: none;
  }
}
