@import '~material-icons-font/material-icons-font.css';

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4 {
  font-family: "Podkova";
  font-weight: 600;
  font-size: 34px;
}

@media (max-width: 600px) {
  h4 {    
    font-size: 28px;
  }
}