.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: calc(100% - 100px); */
}
/* доделать размещение pagination при сборке страницы */

.columnTitle {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.17px;
}

.name {
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.87);
}

.email {
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.6);
}

.link {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}

.btnIcon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.row {
  display: flex;
}

.pagination {
  margin: 0 auto;
  padding: 40px 0 32px 0;
}
