.ul {
  margin-top: 56px;
  padding: 0;
}

.li {
  cursor: pointer;
  margin-bottom: 32px;
  display: flex;
  height: 67px;
  align-items: center;
}

.li:last-of-type {
    position: absolute;
    bottom: 64px;
    margin-bottom: 0;
}

.border {
    width: 4px;
    height: 67px;
    background-color: #FFF;
    border-radius: 0 4px 4px 0

}

.img {
  width: 26px;
  margin: 0 20px 0 28px;
}

.title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
